@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{ 
  :root{
    /* ### Primary */
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    /* ### Neutral */
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
  }
  body{
    @apply bg-[var(--light-grey)] grid place-content-center h-screen
  }
  main{
    @apply max-w-[1440px] min-w-[375px]
  }
  h1,h2,h3{
    @apply text-4xl md:text-6xl lg:text-8xl font-extrabold
  }
}

@layer components{ 
  .container{
    @apply bg-white w-[375px] md:w-[750px] lg:w-9/12 rounded-tl-2xl rounded-tr-2xl rounded-bl-2xl rounded-br-[100px] shadow-2xl
  }
  .form{
    @apply flex gap-5 w-full px-10 py-5
  }
  .input-group{
    @apply flex flex-col w-1/4 lg:w-1/5 gap-2
  }
  .input-group > .title{
    @apply text-base font-semibold text-[var(--smokey-grey)] uppercase
  }
  .input-group > .input{ 
    @apply border border-[var(--light-grey)] text-xl rounded-lg px-2 py-2 font-bold text-[var(--smokey-grey)] uppercase outline-[var(--smokey-grey)]
  }
  .input-group > .input.input-error{
    @apply border-2 border-red-400 text-red-400
  }
  .input-group > .title.title-error {
    @apply text-red-400
  }
  .error-message{
    @apply text-red-400
  }
  .divider{ 
    @apply bg-[var(--light-grey)] lg:w-10 h-[2px] grow 
  }
  .divider-arrow {
    @apply bg-[var(--purple)] rounded-full p-4 absolute lg:relative
  }
  .numbers {
    @apply text-[var(--purple)]
  } 
  .link{
    @apply font-semibold text-[var(--purple)]
  } 
}